<style>
#ceo-ann {
    background: linear-gradient(270deg, #293fff, #91dafa);
    background-size: 400% 400%;
    -webkit-animation: TopGradient 6s ease infinite;
    -moz-animation: TopGradient 6s ease infinite;
    -o-animation: TopGradient 6s ease infinite;
    animation: TopGradient 6s ease infinite;

}
@-webkit-keyframes TopGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes TopGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes TopGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes TopGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



</style>

<div class="py-1 text-light" id="ceo-ann">
    <!-- <div class="container text-center">
        <p style="display: inline; line-height: 1.5;">Applications to pitch at our <strong>Shark Tank</strong> Event are due 11/19</p> <a style="display: -webkit-inline-box; border-radius: 4px; text-decoration: none" class="btn-secondary mx-2 p-2 my-2" href="/sharktank">Apply Now</a>
    </div> -->
</div>  