<div class="container-fluid ceo-footer text-light">
    <div class="row p-5">
        <div class="col text-center">
            <p>
                Baruch's College Entrepreneurial Organization <br />
                Contact us at hello@baruchceo.com
            </p>
        </div>
    </div>
</div>
