<div class="container-fluid">
        <div class="row mt-5 gallery p-5">
            <!-- <div class="col-sm-12">
                <h3>Gallery</h3>
            </div> -->
            <div class="col-sm-4 col-md-4 mb-3">
                <img src="/images/featured/1.jpg" class="img-thumbnail">
            </div>
            <div class="col-sm-4 col-md-4 mb-3">
                <img src="/images/featured/2.jpg" class="img-thumbnail">
            </div>
            <div class="col-sm-4 col-md-4 mb-3">
                <img src="/images/featured/3.jpg" class="img-thumbnail">
            </div>
        </div>
    </div>