<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/imports.ejs %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CEO - Baruch College Entrepreneurial Organization</title>
</head>

<body>
    <%- include partials/navbar.ejs %>

    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-6 col-md-3" id="ceo-books">
                
                    <div class="card p-3 ceo-menu-card">
                        <i class="fas fa-book-open fa-3x"></i>
                        <h5>Books</h5>
                    </div>
                
            </div>
            <div class="col-sm-6 col-md-3" id="ceo-directory">
                
                    <div class="card p-3 ceo-menu-card">
                        <i class="fas fa-users fa-3x"></i>
                        <h5>Directory</h5>
                    </div>
                
            </div>
            <div class="col-sm-6 col-md-3" id="ceo-events">
                
                    <div class="card p-3 ceo-menu-card">
                        <i class="fas fa-calendar fa-3x"></i>
                        <h5>Events Calendar</h5>
                    </div>
                
            </div>
        </div>
    </div>


</body>

<script src="/home.js"></script>

</html>