<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/imports.ejs %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CEO - Baruch College Entrepreneurial Organization</title>
</head>
<body>
    <%- include partials/navbar.ejs %>
    <div class="container">
        <ul>
            <li><a href="/books">Books</a></li>
            <li><a href="/directory">Directory</a></li>
            <li><a href="/Events">Events</a></li>
        </ul>

    </div>


</body>
</html>