<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/imports.ejs %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CEO - SharkTank Event</title>
</head>
<body>
    <%- include partials/navbar.ejs %>
    <!-- <iframe class="airtable-embed" src="https://airtable.com/embed/shrBPYakpOKWvYQfZ?backgroundColor=blue" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc; position: absolute; height: 100%; border: none"></iframe> -->
    <div class="text-center py-5">
        
        <h4>Applications to pitch at our Shark Tank event are now closed.</h4>
        <p>Selected teams will be notified by 11/21.</p>
        <a href="/" class="btn btn-primary my-2">Go to Homepage</a>
    </div>

</body>
</html>